@tailwind base;
@tailwind components;
@tailwind utilities;

/*применение ко всем элементам анимации смены цвета (для плавной смены темы)*/
* {
  @apply transition-colors duration-300 ease-in-out;
}

/* стиль для окна с ошибочным вводос почты/сообщения в форме обратной связи */
.errorInput {
  border-color: red;
}

/*скрытие скроллбара*/
@layer utilities {
  /* для Chrome, Safari, Opera и пр.*/
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* для IE, Edge и Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE и Edge */
    scrollbar-width: none; /* Firefox */
  }
}

/*применение стиля без скроллабара для всех страниц*/
html,
body,
main {
  @apply no-scrollbar;
}
