<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Чайная IROH</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/imgs/favicon.ico" type="image/x-icon">
</head>

<body 
    class="mx-auto p-0 border-box select-none pointer-events-auto">
    <!-- шапка сайта -->
    <header class="fixed bg-transBlack backdrop-blur text-white w-screen z-10 px-10 flex justify-between items-center"> 
        <!-- лого -->
        <a href="/index.html">
            <img class="max-w-20" src="/imgs/logo_white.svg" alt="Ошибка загрузки изображения. Попробуйте обносить страницу.">
        </a>
        <!-- навигация -->
        <nav class="sm:hidden">
            <ul class="flex items-center space-x-12">
                <li>
                    <a href="/layouts/irohAbout.html" class="text-lg font-medium uppercase relative after:absolute after:h-[1px] after:left-0 after:-bottom-1 after:w-full after:bg-white after:scale-0 after:transition-transform hover:after:scale-100 hover:text-teal-700 ease-in-out duration-300">
                        О нас
                    </a>
                </li>
                <li>
                    <a href="/layouts/irohMenu.html" class="text-lg font-medium uppercase relative after:absolute after:h-[1px] after:left-0 after:-bottom-1 after:w-full after:bg-white after:scale-0 after:transition-transform hover:after:scale-100 hover:text-teal-700 ease-in-out duration-300">
                        Продукция
                    </a>
                </li>
                <li>
                    <a href="/layouts/irohNews.html" class="text-lg font-medium uppercase relative after:absolute after:h-[1px] after:left-0 after:-bottom-1 after:w-full after:bg-white after:scale-0 after:transition-transform hover:after:scale-100 hover:text-teal-700 ease-in-out duration-300">
                        Новости и акции
                    </a>
                </li>
            </ul>
        </nav>
        <!-- мобильное меню -->
        <nav id="mobileMenu" class="fixed hidden left-0 top-0 right-0 bottom-0 items-center justify-center bg-gradient-to-r from-menuColor1 to-menuColor2 backdrop-blur  h-screen">
            <ul class="flex flex-col items-center space-y-12">
                <li>
                    <a href="/index.html" class="text-xl font-medium uppercase relative after:absolute after:h-[1px] after:left-0 after:-bottom-1 after:w-full after:bg-white after:scale-0 after:transition-transform hover:after:scale-100 hover:text-teal-700 ease-in-out duration-300">
                        Главная
                    </a>
                </li>
                <li>
                    <a href="/layouts/irohAbout.html" class="text-xl font-medium uppercase relative after:absolute after:h-[1px] after:left-0 after:-bottom-1 after:w-full after:bg-white after:scale-0 after:transition-transform hover:after:scale-100 hover:text-teal-700 ease-in-out duration-300">
                        О нас
                    </a>
                </li>
                <li>
                    <a href="/layouts/irohMenu.html" class="text-xl font-medium uppercase relative after:absolute after:h-[1px] after:left-0 after:-bottom-1 after:w-full after:bg-white after:scale-0 after:transition-transform hover:after:scale-100 hover:text-teal-700 ease-in-out duration-300">
                        Продукция
                    </a>
                </li>
                <li>
                    <a href="/layouts/irohNews.html" class="text-xl font-medium uppercase relative after:absolute after:h-[1px] after:left-0 after:-bottom-1 after:w-full after:bg-white after:scale-0 after:transition-transform hover:after:scale-100 hover:text-teal-700 ease-in-out duration-300">
                        Новости и акции
                    </a>
                </li>
            </ul>
        </nav>
        <!-- бургер для мобильного меню  -->
        <button class="group relative h-5 w-[30px] hidden sm:block" id="burgerMenu">
            <span 
                class="absolute left-0 bg-white h-[1px] w-full top-0 group-[.active]:translate-y-2 group-[.active]:rotate-45 transition-transform">
            </span>
            <span 
                class="absolute left-0 bg-white h-[1px] w-full top-1/2 group-[.active]:opacity-0 transition-opacity">
            </span>
            <span 
                class="absolute left-0 bg-white h-[1px] w-full bottom-0 group-[.active]:-translate-y-[11px] group-[.active]:-rotate-45 transition-transform">
            </span>
        </button>
    </header>

    <main class="w-full">
        <section class="carousel bg-gray-500 relative container mx-auto" style="max-width:1600px;">
            <div class="carousel-inner relative overflow-hidden w-full">
                <!--Slide 1-->
                <input class="carousel-open" type="radio" id="carousel-1" name="carousel" aria-hidden="true" hidden="" checked="checked">
                <div class="carousel-item absolute opacity-0" style="height:100vh;">
                    <div class="block h-full w-full mx-auto flex pt-6 md:pt-0 md:items-center bg-cover bg-top " style="background-image: url('/imgs/news_sale.png')">
          
                <!-- add any content in this box 
                <div class="container mx-auto">    </div>  -->
          
                    </div>
                </div>
              
                <label for="carousel-3" class="prev control-1 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-opacity-20 bg-white hover:bg-gray-900 leading-tight text-center z-10 inset-y-0 left-0 my-auto">‹</label>
                <label for="carousel-2" class="next control-1 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-opacity-20 bg-white hover:bg-gray-900 leading-tight text-center z-10 inset-y-0 right-0 my-auto">›</label>
          
                <!--Slide 2-->
                <input class="carousel-open" type="radio" id="carousel-2" name="carousel" aria-hidden="true" hidden="">
                <div class="carousel-item absolute opacity-0" style="height:100vh;">
                    <div class="block h-full w-full mx-auto flex pt-6 md:pt-0 md:items-center bg-cover bg-top" style="background-image: url('/imgs/news_matcha.png')">
          
                    </div>
                </div>
                <label for="carousel-1" class="prev control-2 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-opacity-20 bg-white hover:bg-gray-900  leading-tight text-center z-10 inset-y-0 left-0 my-auto">‹</label>
                <label for="carousel-3" class="next control-2 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-opacity-20 bg-white hover:bg-gray-900  leading-tight text-center z-10 inset-y-0 right-0 my-auto">›</label>
          
                <!--Slide 3-->
                <input class="carousel-open" type="radio" id="carousel-3" name="carousel" aria-hidden="true" hidden="">
                <div class="carousel-item absolute opacity-0" style="height:100vh;">
                    <div class="block h-full w-full mx-auto flex pt-6 md:pt-0 md:items-center bg-cover bg-top" style="background-image: url('/imgs/news_tea.png')">
          
                    </div>
                </div>
                <label for="carousel-2" class="prev control-3 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-opacity-20 bg-white hover:bg-gray-900  leading-tight text-center z-10 inset-y-0 left-0 my-auto">‹</label>
                <label for="carousel-1" class="next control-3 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-opacity-20 bg-white hover:bg-gray-900  leading-tight text-center z-10 inset-y-0 right-0 my-auto">›</label>
          
                <!-- slide indicators -->
                <ol class="carousel-indicators">
                    <li class="inline-block mr-3">
                        <label for="carousel-1" class="z-0 carousel-bullet cursor-pointer block text-4xl text-gray-400 hover:text-gray-900">•</label>
                    </li>
                    <li class="inline-block mr-3">
                        <label for="carousel-2" class="z-0 carousel-bullet cursor-pointer block text-4xl text-gray-400 hover:text-gray-900">•</label>
                    </li>
                    <li class="inline-block mr-3">
                        <label for="carousel-3" class="z-0 carousel-bullet cursor-pointer block text-4xl text-gray-400 hover:text-gray-900">•</label>
                    </li>
                </ol>
            </div>
        </section>
        <a href="https://t.me/irohteaa">
            <button class="text-white bg-myPurple border-0 py-2 px-6 focus:outline-none hover:bg-purple-700 rounded text-lg animate-bounce">Связаться с нами</button>
        </a>
    </main>

    <!-- подвал сайта -->
    <footer class="bg-myPurple py-5">
        <div class="flex justify-between items-center px-10 sm:px-1">
            <div class="flex gap-6 text-gray-300 font-normal sm:text-sm xs:text-[10px]">
                <a href="irohSite.html" class="mr-2 transition-all duration-300 ease-in-out hover:text-white">Главная</a>
                <a href="irohAbout.html" class="mr-2 transition-all duration-300 ease-in-out hover:text-white">О нас</a>
                <a href="irohMenu.html" class="mr-2 transition-all duration-300 ease-in-out hover:text-white">Продукция</a>
                <a href="irohNews.html" class="mr-2 transition-all duration-300 ease-in-out hover:text-white">Новости и акции</a>
            </div>
            <div class="flex space-x-5 py-3">
                <a href="https://vk.com/hikkan_chh">
                    <img class="sm:w-8" src="/imgs/vk_logo.png" alt="Ошибка загрузки изображения. Попробуйте обносить страницу.">
                </a>
                <a href="https://t.me/tereploo">
                    <img class="sm:w-8" src="/imgs/tg_logo.png" alt="Ошибка загрузки изображения. Попробуйте обносить страницу.">
                </a>
            </div>
        </div>
        <div class="flex pt-5 m-auto text-gray-300 text-sm md:text-xs sm:text-[10px] xs:text-[8px] flex-col items-center border-t max-w-screen-xl">
            <p>© Copyright 2024. All Rights Reserved. Made by Abramova Victoria. Все права защищены. Разработчик Абрамова Виктория</p>
        </div>
    </footer>
    <script src="/js/main.js"></script>
</body>

</html>