<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Чайная IROH</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/imgs/favicon.ico" type="image/x-icon">
</head>

<body 
    class="mx-auto p-0 border-box select-none pointer-events-auto">
    <!-- шапка сайта -->
    <header class="fixed bg-transBlack backdrop-blur text-white w-screen z-10 px-10 flex justify-between items-center"> 
        <!-- лого -->
        <a href="/index.html">
            <img class="max-w-20" src="/imgs/logo_white.svg" alt="Ошибка загрузки изображения. Попробуйте обносить страницу.">
        </a>
        <!-- навигация -->
        <nav class="sm:hidden">
            <ul class="flex items-center space-x-12">
                <li>
                    <a href="/layouts/irohAbout.html" class="text-lg font-medium uppercase relative after:absolute after:h-[1px] after:left-0 after:-bottom-1 after:w-full after:bg-white after:scale-0 after:transition-transform hover:after:scale-100 hover:text-teal-700 ease-in-out duration-300">
                        О нас
                    </a>
                </li>
                <li>
                    <a href="/layouts/irohMenu.html" class="text-lg font-medium uppercase relative after:absolute after:h-[1px] after:left-0 after:-bottom-1 after:w-full after:bg-white after:scale-0 after:transition-transform hover:after:scale-100 hover:text-teal-700 ease-in-out duration-300">
                        Продукция
                    </a>
                </li>
                <li>
                    <a href="/layouts/irohNews.html" class="text-lg font-medium uppercase relative after:absolute after:h-[1px] after:left-0 after:-bottom-1 after:w-full after:bg-white after:scale-0 after:transition-transform hover:after:scale-100 hover:text-teal-700 ease-in-out duration-300">
                        Новости и акции
                    </a>
                </li>
            </ul>
        </nav>
        <!-- мобильное меню -->
        <nav id="mobileMenu" class="fixed hidden left-0 top-0 right-0 bottom-0 items-center justify-center bg-gradient-to-r from-menuColor1 to-menuColor2 backdrop-blur  h-screen">
            <ul class="flex flex-col items-center space-y-12">
                <li>
                    <a href="/index.html" class="text-xl font-medium uppercase relative after:absolute after:h-[1px] after:left-0 after:-bottom-1 after:w-full after:bg-white after:scale-0 after:transition-transform hover:after:scale-100 hover:text-teal-700 ease-in-out duration-300">
                        Главная
                    </a>
                </li>
                <li>
                    <a href="/layouts/irohAbout.html" class="text-xl font-medium uppercase relative after:absolute after:h-[1px] after:left-0 after:-bottom-1 after:w-full after:bg-white after:scale-0 after:transition-transform hover:after:scale-100 hover:text-teal-700 ease-in-out duration-300">
                        О нас
                    </a>
                </li>
                <li>
                    <a href="/layouts/irohMenu.html" class="text-xl font-medium uppercase relative after:absolute after:h-[1px] after:left-0 after:-bottom-1 after:w-full after:bg-white after:scale-0 after:transition-transform hover:after:scale-100 hover:text-teal-700 ease-in-out duration-300">
                        Продукция
                    </a>
                </li>
                <li>
                    <a href="/layouts/irohNews.html" class="text-xl font-medium uppercase relative after:absolute after:h-[1px] after:left-0 after:-bottom-1 after:w-full after:bg-white after:scale-0 after:transition-transform hover:after:scale-100 hover:text-teal-700 ease-in-out duration-300">
                        Новости и акции
                    </a>
                </li>
            </ul>
        </nav>
        <!-- бургер для мобильного меню  -->
        <button class="group relative h-5 w-[30px] hidden sm:block" id="burgerMenu">
            <span 
                class="absolute left-0 bg-white h-[1px] w-full top-0 group-[.active]:translate-y-2 group-[.active]:rotate-45 transition-transform">
            </span>
            <span 
                class="absolute left-0 bg-white h-[1px] w-full top-1/2 group-[.active]:opacity-0 transition-opacity">
            </span>
            <span 
                class="absolute left-0 bg-white h-[1px] w-full bottom-0 group-[.active]:-translate-y-[11px] group-[.active]:-rotate-45 transition-transform">
            </span>
        </button>
    </header>

    <main class="w-full mx-auto px-10 pt-28 pb-20 bg-gradient-to-b from-myBrown to-white ">
        <section>
            <div class="flex flex-wrap justify-center px-36 lg:px-20 md:px-16 sm:px-5 mb-10 text-white">
                <h1 class="text-4xl md:text-3xl sm:text-2xl font-semibold">Наш ассортимент</h1>
                <p class="mt-2 text-lg md:text-base sm:text-sm font-extralight text-center "><i>Все виды чая мы закупаем отдельно у проверенных поставщиков, в связи с тем, что качество продукции и вкус для нас превыше всего. С любовью, ваши Айро!</i></p>
            </div>
            <!-- component -->
            <div class="container mx-auto flex items-center justify-center">
                <div class="grid grid-cols-3 grid-rows-2 gap-12 md:grid-cols-2 md:grid-rows-3 lg:gap-4 sm:grid-cols-1 sm:grid-rows-6">
                    <!-- Blog Entry 1 -->
                    <div class="overflow-hidden max-w-sm mx-auto relative shadow-md rounded-lg cursor-pointer">
                        <img src="/imgs/masala_tea.png" class="hover:scale-110 transition-transform w-full h-auto rounded-lg" alt="Ошибка загрузки изображения. Попробуйте обносить страницу.">
                        <div class="absolute bottom-0 left-0 right-0 h-40 bg-black bg-opacity-50 backdrop-blur text-white p-4 rounded-b-lg">
                            <h1 class="text-2xl font-bold">Масала</h1>
                            <p class="mt-2 lg:text-sm">Известный пряный чай родом из Индии. Пикантное сочетание горячего молока и индийских специй активизирует рецепторы вкуса, даря им настоящее наслаждение.</p>
                        </div>
                    </div>
    
                    <!-- Blog Entry 2 -->
                    <div class="overflow-hidden max-w-sm mx-auto relative shadow-md rounded-lg cursor-pointer">
                        <img src="/imgs/oolong_tea.png" class="hover:scale-110 transition-transform w-full h-auto rounded-lg" alt="Ошибка загрузки изображения. Попробуйте обносить страницу.">
                        <div class="absolute bottom-0 left-0 right-0 h-40 bg-black bg-opacity-50 backdrop-blur text-white p-4 rounded-b-lg">
                            <h1 class="text-2xl font-bold">Улун</h1>
                            <p class="mt-2 lg:text-sm">Он помогает сбросить лишний вес, нормализовать кровяное давление, подавляет рост раковых клеток, помогает при нервных расстройствах и депрессии.</p>
                        </div>
                    </div>
    
                    <!-- Blog Entry 3 -->
                    <div class="overflow-hidden max-w-sm mx-auto relative shadow-md rounded-lg cursor-pointer">
                        <img src="/imgs/matcha_tea.png" class="hover:scale-110 transition-transform w-full h-auto rounded-lg" alt="Ошибка загрузки изображения. Попробуйте обносить страницу.">
                        <div class="absolute bottom-0 left-0 right-0 h-40 bg-black bg-opacity-50 backdrop-blur text-white p-4 rounded-b-lg">
                            <h1 class="text-2xl font-bold">Матча</h1>
                            <p class="mt-2 lg:text-sm">Антиоксиданты в чае матча поддерживают общее состояние здоровья. Обеспечивает значительное количество калия, витамина А и С, железа, белка и кальция.</p>
                        </div>
                    </div>
    
                    <!-- !-- Blog Entry 4 -->
                    <div class="overflow-hidden max-w-sm mx-auto relative shadow-md rounded-lg cursor-pointer">
                        <img src="/imgs/black_tea.png" class="hover:scale-110 transition-transform w-full h-auto rounded-lg" alt="Ошибка загрузки изображения. Попробуйте обносить страницу.">
                        <div class="absolute bottom-0 left-0 right-0 h-40 bg-black bg-opacity-50 backdrop-blur text-white p-4 rounded-b-lg">
                            <h1 class="text-2xl font-bold">Черный чай</h1>
                            <p class="mt-2 lg:text-sm">Самый известный чай в Европе. Его вкус лишён горечи, чай обладает сложным действием, одновременно тонизирующим и успокаивающим.</p>
                        </div>
                    </div>
    
                    <!-- Blog Entry 5 -->
                    <div class="overflow-hidden max-w-sm mx-auto relative shadow-md rounded-lg cursor-pointer">
                        <img src="/imgs/green_tea.png" class="hover:scale-110 transition-transform w-full h-auto rounded-lg" alt="Ошибка загрузки изображения. Попробуйте обносить страницу.">
                        <div class="absolute bottom-0 left-0 right-0 h-40 bg-black bg-opacity-50 backdrop-blur text-white p-4 rounded-b-lg">
                            <h1 class="text-2xl font-bold">Зеленый чай</h1>
                            <p class="mt-2 lg:text-sm">Яркий, мягкий и освежающий вкус без горечи. Легкая сладость, нежные цветочные и травяные нотки. У некоторых сортов есть оттенки орехов, ягод, пряностей во вкусе.</p>
                        </div>
                    </div>
    
                    <!-- Blog Entry 6 -->
                    <div class="overflow-hidden max-w-sm mx-auto relative shadow-md rounded-lg cursor-pointer">
                        <img src="/imgs/white_tea.png" class="hover:scale-110 transition-transform w-full h-auto rounded-lg" alt="Ошибка загрузки изображения. Попробуйте обносить страницу.">
                        <div class="absolute bottom-0 left-0 right-0 h-40 bg-black bg-opacity-50 backdrop-blur text-white p-4 rounded-b-lg">
                            <h1 class="text-2xl font-bold">Белый чай</h1>
                            <p class="mt-2 lg:text-sm">Тончайший и изысканный,с едва заметной сладостью, бархатистый и освежающий. Улучшает работу сердца и сосудов, очищает организм, тонизирует, укрепляет иммунитет.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="text-gray-600">
            <div class="container px-5 py-24 mx-auto flex flex-col flex-wrap text-center">
                <div class="lg:w-4/6 mx-auto">
                    <div class="rounded-lg h-64 overflow-hidden">
                        <img alt="content" class="object-cover object-center h-full w-full" src="https://dummyimage.com/1200x500">
                    </div>
                    <div class="flex flex-col sm:flex-row mt-10">
                        <div class="sm:w-1/3 text-center sm:pr-8 sm:py-8">
                            <div class="w-20 h-20 rounded-full inline-flex items-center justify-center bg-gray-200 text-gray-400">
                                <img alt="testimonial" src="/imgs/Anastasia_P.jpg" class="w-20 h-20 rounded-full flex-shrink-0 object-cover object-center">
                            </div>
                            <div class="flex flex-col items-center text-center justify-center">
                                <h2 class="font-medium title-font mt-4 text-gray-900 text-lg">Анастасия П.</h2>
                                <div class="w-12 h-1 bg-indigo-500 rounded mt-2 mb-4"></div>
                                <p class="text-base">Владелец чайной</p>
                            </div>
                        </div>
                            <div class="sm:w-2/3 sm:pl-8 sm:py-8 sm:border-l border-gray-200 sm:border-t-0 border-t mt-4 pt-4 sm:mt-0 text-center sm:text-left">
                                <p class="leading-relaxed text-lg mb-4">Огвгшыапв ышщрвыша оывдлатвыд арвщыарлатудш щшц уращшц раш щцшарщцшур ащцш</p>
                    <!-- <a class="text-indigo-500 inline-flex items-center">Learn More
                      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                        <path d="M5 12h14M12 5l7 7-7 7"></path>
                      </svg>
                    </a> -->
                        </div>
                    </div>
                </div>
                <p class="mt-20 text-sm text-gray-500">
                    Хотите узнавать обо всех обновлениях и акциях первыми?
                </p>
                <a href="https://t.me/irohteaa" class="mt-6 flex flex- justify-center">
                    <button class="text-white bg-myPurple border-0 py-2 px-6 focus:outline-none hover:bg-purple-700 rounded text-xl animate-bounce">Подписывайтесь на наш канал</button>
                </a>
            </div>
        </section>
    </main>

    <!-- подвал сайта -->
    <footer class="bg-myBrown py-5">
        <div class="flex justify-between items-center px-10 sm:px-1">
            <div class="flex gap-6 text-gray-300 font-normal sm:text-sm xs:text-[10px]">
                <a href="irohSite.html" class="mr-2 transition-all duration-300 ease-in-out hover:text-gray-500">Главная</a>
                <a href="irohAbout.html" class="mr-2 transition-all duration-300 ease-in-out hover:text-gray-500">О нас</a>
                <a href="irohMenu.html" class="mr-2 transition-all duration-300 ease-in-out hover:text-gray-500">Продукция</a>
                <a href="irohNews.html" class="mr-2 transition-all duration-300 ease-in-out hover:text-gray-500">Новости и акции</a>
            </div>
            <div class="flex space-x-5 py-3">
                <a href="https://vk.com/hikkan_chh">
                    <img class="sm:w-8" src="/imgs/vk_logo.png" alt="Ошибка загрузки изображения. Попробуйте обносить страницу.">
                </a>
                <a href="https://t.me/tereploo">
                    <img class="sm:w-8" src="/imgs/tg_logo.png" alt="Ошибка загрузки изображения. Попробуйте обносить страницу.">
                </a>
            </div>
        </div>
        <div class="flex pt-5 m-auto text-gray-300 text-sm md:text-xs sm:text-[10px] xs:text-[8px] flex-col items-center border-t max-w-screen-xl">
            <p>© Copyright 2024. All Rights Reserved. Made by Abramova Victoria. Все права защищены. Разработчик Абрамова Виктория</p>
        </div>
    </footer>
    <script src="/js/main.js"></script>
</body>
</html>